@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}


.img-thumbnail{
    width: 100%;
    border-radius: 50%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color:   #18181B;
    color: white;
}

.ne{
    color: cyan;
}

.form-check-label, .form-label, p {
    color: white; 
}
nav{
    max-width: 1200px;
    border: 10px;
    margin: auto;
    padding: 1rem 1rem;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: black;
}

.nav-logo{
    max-width: 100px;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.profile-image {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #fff; /* Borda opcional para destaque */
    transition: all 0.3s ease;
}
.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #d81d1d;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 70%;
}

.btn{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #5b0303;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: #5b0303;
}
.profile-img {
    display: flex;
    margin-left: 30px;
    justify-content: center;
}
.Seu-Perfil {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-left: 30px;
}
.form-label {
   margin-left: 70px;
}
#Tidp{
    margin-left: 45px;
}
#nomeDisplay{
    margin-left: 120px;
}
#ede {
    margin-left: 60px;
}
.emailDisplay{
    margin-left: 60px;
}
#AC{
    margin-left: 70px;
}
.tc {
    display: flex;
    justify-content: center;
    align-items: center;
}
.selected {
    border: 3px solid white; /* Borda azul para destacar */
    border-radius: 5px;
    box-shadow: 0 0 8px white;
}

.edit {
    width: 16px; 
    height: 16px; 
    vertical-align: middle; 
    margin-left: 10px; 
    cursor: pointer; 
}


.form-container {
    max-width: 400px; 
    width: 100%;
}

.form-label {
    color: white;
}


.col-form-label {
    white-space: nowrap; 
    margin-right: 5px; 
    color: white; 
}

.form-control-plaintext {
    color: white;
    display: inline-block;
}


.text-left {
    text-align: left;
}


.form-control-plaintext {
    color: white; 
    display: inline-block; 
}


.col-sm-10 {
    display: flex;
    align-items: center;
    text-align: left; 
}


.input-sm {
    padding: 10px;
    font-size: 0.9rem;
}

#formFile, #nomeUsuario {
    max-width: 100%; 
}



.container{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.m {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 10px;
}
.modal-body img {
    cursor: pointer;
    border: 2px solid transparent; 
}

.modal-body img:hover {
    border-color: white; /* Altera a borda para branco ao passar o mouse */
}


.collapse {
    width: 100%;
    max-width: 600px; /* Define uma largura máxima */
    margin-top: 20px;
    text-align: center;
}


.Generos p {
    text-align: center;
    color: white; /* Se precisar do texto branco */
}

.d-flex .form-check {
    margin-right: 15px; /* Espaço entre os itens */
}


.collapse.show {
    background-color: transparent !important;
}

.card-tittle h3, .card-tittle h4, .card {
    color: white;
    background-color: transparent !important; 
    border: none; 
}


.form-control, .form-select {
    max-width: 300px;
    margin: 0 auto; 
}

.form-label {
    color: white; 
}


.blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px #5b0303;
    z-index: -100;
}

header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 1rem;
    color: white;
}
.registro{
    color: #a11000;
}
.form-label {
    color: white;
}
.btn-apagar {
    position: relative;
    padding-left: 30px; 
    width: 200px; 
  }
  
  .i-apagar {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    height: auto;
  }
  
  .btn-apagar-text {
    display: block;
    text-align: center;
    width: 100%;
  }

  .m{
    text-decoration: underline;
    text-align: center;
  }

  .opcoes a, .opcoes p {
    color: white;
}
.toast {
    background-color: #000; 
    color: #fff; 
}

.toast-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.btn-close {
    filter: invert(1); 
}



section .header{
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.features{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.features .card{
    background-color: #27272a;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.features .card:hover{
    background-color: #323232;
    border-color: #fff;
}

.features .card span{
    display: inline-block;
    background-color: #5b0303;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #fff;
    border-radius: 5px;
}

.features .card h4{
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

.features .card p{
    color: #ccc;
    margin-bottom: 1rem;
}

.features .card a{
    color: #fff;
    transition: all 0.3s ease;
}

.features .card a:hover{
    color: #5b0303;
}

.sub-header{
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: #ccc;
}

.pricing{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.pricing .card{
    padding: 3rem 2rem;
    background-color: #27272a;
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.pricing .card:hover{
    background-color: #323232;
    border-color: #fff;
}

.pricing .card .content{
    flex: 1;
    margin-bottom: 2rem;
}

.pricing .card h4{
    margin-bottom: 1rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}

.pricing .card h3{
    color: #fff;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 2px dashed #fff;
}

.pricing .card p{
    color: #fff;
    margin-bottom: 0.75rem;
}

.pricing .card p i{
    color: #ccc;
    font-size: 1.2rem;
    margin-right: 0.3rem;
}

.pricing .card button{
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
}

.pricing .card button:hover{
    background-color: #5b0303;
    border-color: #5b0303;
}

footer{
    position: relative;
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
}

footer .column .logo{
    max-width: 100px;
    margin-bottom: 2rem;
}

footer .column p{
    color: #ccc;
    margin-bottom: 2rem;
}

footer .column .socials{
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .column .socials a{
    color: #ccc;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 100%;
    transition: all 0.3s ease;
}

footer .column .socials a:hover{
    color: #fff;
    background-color: #5b0303;
    border-color: #5b0303;
}

footer .column h4{
    color: #fff;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

footer .column > a{
    display: block;
    color: #ccc;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

footer .column > a:hover{
    color: #5b0303;
}

.copyright{
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
}

@media (width < 900px){
    .nav-links{
        display: none;
    }
    header{
        grid-template-columns: repeat(1, 1fr);
    }
    header .image{
        grid-area: 1/1/2/2;
    }
    .features{
        grid-template-columns: repeat(2, 1fr);
    }
    .pricing{
        grid-template-columns: repeat(2, 1fr);
    }
    footer{
        grid-template-columns: 1fr 200px;
    }
}

@media (width < 600px){
    header .image::before{
        display: none;
    }

    .features{
        grid-template-columns: repeat(1, 1fr);
    }

    .pricing{
        grid-template-columns: repeat(1, 1fr);
    }

    footer{
        grid-template-columns: 1fr 150px;
    }
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
    color: white;
  }
  